@import url(../ejercicio6/css/reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

html {
    /* Para generar animaciones de puntos ancla */
    scroll-behavior: smooth;
}

:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --margingrid: 1em;
    --font-size: 1em;
    --anchomaximo: 68.75em;
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;

}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--font-size);
}

/* Inicio header */

header .nav-top {
    background-color: var(--colorsecundario);
    padding: 1.25em 0px;
}

header .nav-top .container {
    display: flex;
    justify-content: space-between;
}

header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;

}

header .nav-top a i {
    font-size: 150%;
}

header .nav-top span {
    color: white;
    display: none;
}

header nav {
    padding: 1.25em;
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .menu {
    width: 100%;
    list-style: none;
}

header nav .menu .activa {
    color: var(--colorprincipal);
}

header nav .menu a:hover {
    color: var(--colorprincipal);
}

header nav .hamburguesa {
    cursor: pointer;
    width: 1.875em;
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav figure {
    max-width: 6.25em;
}

header nav .menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child a {
    border-bottom: 0px;
}

/* Final del header */

/* Inicio de la section */

section .titulo h2 {
    text-align: center;
    color: var(--colorprincipal);
    font-family: 'handlee', cursive;
}

section .titulo h2 span {
    color: black;
}

section hr {
    background-color: var(--colorprincipal);
    width: 10%;
}

section .titulo p {
    text-align: center;
    position: relative;
    top: -1.25em;
    color: var(--colorprincipal);
}

section article figure {
    width: 18.75em;
    height: 12.5em;
    background-image: url(../material_hamburgueseria/images/news3.jpg);
    background-size: cover;
}

section article figure .cuadrado {
    width: 4.0625em;
    height: 4.0625em;
    background-color: rgb(255, 99, 71, 0.7);
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 1.25em;
    padding-top: 1.25em;
}

section .articles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

}

section .articles article {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

section .articles .texto {
    margin: 0.625em 3.4375em;
}

section h4,
a {
    color: var(--colorprincipal);
    text-decoration: none;
}

section p {
    color: gray;
}

section .reasons figure {
    background-image: url(../material_hamburgueseria/images/news4.jpg);
}

section .restaurant figure {
    background-image: url(../material_hamburgueseria/images/news1.jpg);
}

/* Fin de la section */

/* Inicio footer */

footer {
    background-color: var(--colorsecundario);
    padding: 0.375em 0;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 110%;

}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorprincipal);
}

.flecha a {
    display: block;
    color: var(--colorprincipal);
    font-size: 300%;
    position: fixed;
    bottom: 6.25rem;
    right: 1.25rem;
}

/* Fin del footer */

/* Inicio del hero */
.hero {
    background-image: url(../material_hamburgueseria/images/fondo.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #888;
    padding-top: 17vh;
    color: white;
}

.hero h1 {
    font-family: var(--fuentetitulos);
    font-size: 2.25em;
}

.hero h2 {
    color: var(--colorprincipal);
    font-size: 1.25em;
    margin: var(--margingrid) 0;
}

.hero p {
    font-size: 1.15em;
}

.hero .boton {
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: 1.15em;
    color: white;
    text-decoration: none;
    border: 1px solid var(--colorprincipal);

}

.boton:hover {
    background-color: transparent;
    color: var(--colorprincipal);
}

.boton:hover i {
    transition: transform 0.5s;
    transform: translateX(5px);
}

.hero .container div {
    margin: var(--margingrid) 0;
}

.hero .social {
    display: flex;
    width: 10em;
    justify-content: space-between;
    list-style: none;
    padding: 0;

}

.hero .social a {
    color: white;
    font-size: 2em;
}

.hero .container {
    padding: 0 var(--margingrid);
}

/* Fin del hero */

/* Inicio our services */
main section {
    padding: var(--margingrid);
}

main section h2 {
    color: black;
    font-family: var(--fuentetitulos);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--colorprincipal);
}

main section .underline {
    position: relative;
    width: 6.25rem;
    margin: -20px auto;


}

main section .underline hr {
    position: absolute;
    width: 100%;
    border-color: var(--colorprincipal);
}

main section .underline span {
    text-align: center;
    display: block;
    color: var(--colorprincipal);
    font-weight: 700;
}

main section:last-child {
    margin-bottom: 3em;
}

main #services article {
    border-bottom: 1px solid #aaa;
    padding: 1.5em 0;
    width: 100%;
}

main #services article>div i {
    color: var(--colorprincipal);
    font-size: 140%;
    border: 1px solid var(--colorprincipal);
    padding: 0.5em;
    display: inline-block;
}

main #services article h3 {
    margin: var(--margingrid) 0;
    font-size: 110%;
    font-weight: 700;
}

main section p {
    color: #666;
    line-height: 1.15em;
    margin-bottom: var(--margingrid);
}

main section .enlace {
    color: var(--colorprincipal);
    text-decoration: none;
    font-weight: 700;
}

.fa-truck {
    transform: rotateY(180deg);
}



/* Fin del our services */

/* Inicio about us */
main #aboutus figure {
    /* background-color: tomato;
    width: 100%; */
    height: 400px;
}

main #aboutus .grid>div {
    /* background-color: violet;
    height: 400px; */
    width: 100%;
    margin-top: 20px;
}

main #aboutus .grid h3 {
    font-size: 110%;
    font-weight: 700;
}

main #aboutus .grid h4 {
    margin: var(--margingrid) 0;
    color: var(--colorprincipal);
}

main #aboutus .imagen {
    margin: 1.5em auto;
    width: 93%;
}

main #aboutus .imagen .marco {
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    transition: 1s;
}

main #aboutus .imagen .marco img {
    transform: rotateZ(-10deg);
    transition: 1s;
}

main #aboutus .imagen:hover :is(.marco, .marco img) {
    transform: rotateZ(0deg);
}



/* Final about us */

/* Inicio del menu */
#menu p {
    color: white;
    text-align: left;
    padding-top: 10px;
}

#menu .container {
    background-color: var(--colorsecundario);
    padding: var(--margingrid);
    color: white;
}

#menu .container h2 {
    color: var(--colorprincipal);
}

#menu .container h2 span {
    color: white;

}

#menu .offers ul {
    display: block;
    list-style: none;
    width: 100%;
    margin: 3.125em 0.3125em;

}

#menu .offers ul li {
    margin: 0.625em;
    color: white;
}

#menu .container .underline {
    width: 6.25rem;
    margin: -1.25em auto;
}


#menu .container .today hr {
    display: inline-block;
    text-align: left;
    margin-top: -2.1875em;
    margin-left: 1.5625em;

}


#menu figure {
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: none;
}

#menu .menu .titulo {
    text-align: left;
    margin: 0 auto;
    padding-top: 50px;
}


#menu .menu .titulo span {
    color: white;
    text-align: left;
}

#menu .menu .titulo .boton {
    text-align: left;
}

#menu .offers a {
    color: white;
    padding: 10px;

}

#menu .offers a:hover {
    background-color: var(--colorprincipal);
}




/* Fin del menu */

/* Inicio Mediaquerys */
@media(min-width: 48em) {
    header .nav-top span {
        display: inline;
    }

    header .nav-top a i {
        font-size: 120%;
    }

    header .nav-top .container {
        display: flex;
    }

    footer {
        text-align: left;
    }

    main #services article {

        border-bottom: 0;
        border-left: 1px solid #aaa;
        padding: 1.5em;
        margin: var(--margingrid) 0;
    }

    main #services article:last-child {
        width: 100%;
    }

    main #aboutus figure,
    main #aboutus .grid>div {
        width: 50%;
    }

    main #aboutus .grid h3 {
        margin-top: var(--margingrid);
    }

    main #aboutus .imagen {
        margin: var(--margingrid) 0;

    }

    #aboutus .grid {
        display: flex;
    }

}



@media(min-width: 62.75em) {
    header nav .menu {
        width: auto;
    }

    header nav .hamburguesa {
        display: none;
    }

    header nav .menu li {
        display: inline-block;
    }

    header nav .menu a {
        padding: 0.5em 0 1.25em 1.25em;
        border-bottom: 0;
    }

    .hero .container {
        padding: 0;
    }

    main #services .grid {
        display: flex;

    }

    #aboutus .grid {
        display: flex;
    }

    section .articles article {

        width: 33.333%;
    }

    #menu .container {
        display: flex;
    }

    #menu .wrapper {
        display: inline-block;
    }

    #menu .offers {
        display: inline-block;
        width: 60%;

    }

    #menu .menu article {
        display: flex;
        width: 100%;
        padding-top: 10px;
        padding-right: 50px;
    }


    #menu figure {
        height: 150px;
        margin: 0 auto;
        margin-top: 50px;
        background-image: none;
        padding: 20px;
    }

}